
body {
    margin: 0;
    font-family: Arial
    }
header {
    padding: 30px;
    background: #0dcfcf;
    color: #fffffff6;
      }
.links {
    list-style-type: none;
    padding:0
}
.links > li {
    display: inline-block;
    margin-right: 30px;
}
.links > li > a {
    color: white;
}
.active {
    background-color: #4CAF50;
    color: white;
}
  
main {
    display: flex;
    flex-direction: row;
    padding: 30px;
  }

article {
    width: 66.6%;
    padding-left: 30px;
  }
aside {
    width: 33.3%;
  }
footer {
    padding: 30px;
}

.fluid-image {
    width: 100%;
    height: auto;
}